@page "/"
@using OrdersDashboard.Client.NorthwindServices
@using OrdersDashboard.Model
@using OrdersDashboard.Model.DTO

@inject ProductsService productService
@inject StatisticsService statisticService

<div class="wrapper">
    <div class="cards">
        <div class="item card1">
            <SfCard CssClass="card-class">
                <CardHeader Title="Total" SubTitle="EMPLOYEES:" ImageUrl="images/info.png" ImagePosition="ImagePosition.Left"></CardHeader>
                <CardContent Content="12" EnableSeperator="true"></CardContent>
            </SfCard>
        </div>
        <div class="item card2">
            <SfCard CssClass="card-class">
                <CardHeader Title="Total" SubTitle="PRODUCTS:" ImageUrl="images/info.png" ImagePosition="ImagePosition.Left"></CardHeader>
                <CardContent Content="87" EnableSeperator="true"></CardContent>
            </SfCard>
        </div>
        <div class="item card3">
            <SfCard CssClass="card-class">
                <CardHeader Title="Total" SubTitle="ORDERS:" ImageUrl="images/info.png" ImagePosition="ImagePosition.Left"></CardHeader>
                <CardContent Content="154" EnableSeperator="true"></CardContent>
            </SfCard>
        </div>
        <div class="item card4">
            <SfCard CssClass="card-class">
                <CardHeader Title="Total" SubTitle="CUSTOMERS:" ImageUrl="images/info.png" ImagePosition="ImagePosition.Left"></CardHeader>
                <CardContent Content="65" EnableSeperator="true"></CardContent>
            </SfCard>
        </div>
    </div>
    <div class="pies">
        <div class="pie">
            <SfAccumulationChart Height="100%" Width="100%" Title="ORDERS BY COUNTRIES" EnableBorderOnMouseMove="true" EnableAnimation="true" EnableCanvas="true">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@OrdersByCountries" XName="CountryName" YName="OrdersCount" Name="Orders" Explode="true">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
                <AccumulationChartLegendSettings Position="LegendPosition.Bottom">
                </AccumulationChartLegendSettings>
            </SfAccumulationChart>
        </div>
    </div>
    <div class="pies">
        <div class="pie">
            <SfAccumulationChart Height="100%" Width="100%" Title="SALES BY CATEGORIES" EnableBorderOnMouseMove="true" EnableAnimation="true" EnableCanvas="true">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@SalesByCategories" XName="CategoryName" YName="CategorySales" Name="Categories" Explode="true">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
                <AccumulationChartLegendSettings Position="LegendPosition.Bottom">
                </AccumulationChartLegendSettings>
            </SfAccumulationChart>
        </div>
    </div>
    <div class="pies">
        <div class="pie">
            <SfAccumulationChart Height="100%" Width="100%" Title="SALES BY COUNTRIES" EnableBorderOnMouseMove="true" EnableAnimation="true" EnableCanvas="true">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@SalesByCountries" XName="CountryName" YName="CountrySum" Name="CountrySum" Explode="true">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
                <AccumulationChartLegendSettings Position="LegendPosition.Bottom">
                </AccumulationChartLegendSettings>
            </SfAccumulationChart>
        </div>
    </div>
    @*<div class="bars">
            <div class="item bar">
                <SfChart Height="100%">
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@SalesByCountries" XName="CountryName" YName="CountrySum" ColumnSpacing="0.2" ColumnWidth="0.7"
                                     Type="ChartSeriesType.Bar">
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </div>
            <div class="item bar">
                <SfChart Height="100%">
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@SalesByCountries" XName="CountryName" YName="CountrySum" ColumnSpacing="0.2" ColumnWidth="0.7" Type="ChartSeriesType.Bar">
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </div>
            <div class="item bar">
                <SfChart Height="100%">
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@SalesByCountries" XName="CountryName" YName="CountrySum" ColumnSpacing="0.2" ColumnWidth="0.7" Type="ChartSeriesType.Bar">
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </div>
        </div>*@
</div>

<style>

    .pies {
        display: flex;
        flex-direction: column;
    }

    .pie {
        border-radius: 0px;
        border: 1px solid #b9b8b8;
        color: black;
        padding: 0px;
    }

    .cards{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:6px;
        margin-bottom:6px;
    }
    .item {
        padding: 6px;
        color: white;
        box-shadow: 5px 6px 8px 1px rgb(0 0 0 / 25%);
    }
    .image-info {
        max-height: 64px;
        max-width: 64px;
    }
    .card1 {
        background-color: #ff6a00
    }

    .card2 {
        background-color: #11b637
    }

    .card3 {
        background-color: #1882ad
    }

    .card4 {
        background-color: #ff0000
    }

    /*Внутренние классы компонента SfCard*/

    .e-card {
        background-color: transparent;
        border: none;
    }

        .e-card .e-card-header {
            padding: 0;
        }

        .e-card:hover {
            background-color: transparent;
        }

    .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
        font-size: 1.5em;
        text-align: right;
        padding: 0;
    }

    .e-card .e-card-content {
        color: white;
        font-size: 2em;
        text-align: right;
        padding: 0;
    }

    .e-card .e-card-separator {
        background-color: white;
        height: 1px;
    }

    .e-card .e-card-header-caption .e-card-sub-title {
        color: white;
        text-align: right;
    }
    /*Конец - Внутренние классы компонента SfCard*/

    /**/ 
    e-chart {
        width: inherit !important;
        height: inherit !important;
    }

    .e-accumulationchart {
        width: inherit !important;
        height: inherit !important;
    }
    
    /**/ 

</style>

@code {
    #region
    SfAccumulationChart pie = new SfAccumulationChart();

    public List<OrdersByCountry> OrdersByCountries = new ();
    public List<SalesByCategory> SalesByCategories = new ();
    public List<SalesByCountry> SalesByCountries = new ();

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
        await Task.Delay(6000);
#endif
        OrdersByCountries = (await statisticService.GetOrdersByCountriesAsync()).Data;

        SalesByCategories = (await statisticService.GetSalesByCategoriesAsync()).Data;

        SalesByCountries = (await statisticService.GetSalesByCountryAsync()).Data;
    }
    #endregion
}
