@page "/dashboard"

@using OrdersDashboard.Client.NorthwindServices
@using OrdersDashboard.Shared.Model
@using OrdersDashboard.Shared.DTO
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@inject ProductsService productService
@inject StatisticsService statisticService

@if (OrdersByCountries.Count == 0 || SalesByCountries.Count == 0)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="wrapper">
        <div class="cards">
            <div class="item card1">
                <SfCard CssClass="card-class">
                    <CardHeader Title="Total" SubTitle="EMPLOYEES:" ImageUrl="images/info.jpg" ImagePosition="ImagePosition.Left"></CardHeader>
                    <CardContent Content="12" EnableSeperator="true"></CardContent>
                </SfCard>
            </div>
            <div class="item card2">
                <SfCard CssClass="card-class">
                    <CardHeader Title="Total" SubTitle="PRODUCTS:" ImageUrl="images/info.jpg" ImagePosition="ImagePosition.Left"></CardHeader>
                    <CardContent Content="87" EnableSeperator="true"></CardContent>
                </SfCard>
            </div>
            <div class="item card3">
                <SfCard CssClass="card-class">
                    <CardHeader Title="Total" SubTitle="ORDERS:" ImageUrl="images/info.jpg" ImagePosition="ImagePosition.Left"></CardHeader>
                    <CardContent Content="154" EnableSeperator="true"></CardContent>
                </SfCard>
            </div>
            <div class="item card4">
                <SfCard CssClass="card-class">
                    <CardHeader Title="Total" SubTitle="CUSTOMERS:" ImageUrl="images/info.jpg" ImagePosition="ImagePosition.Left"></CardHeader>
                    <CardContent Content="65" EnableSeperator="true"></CardContent>
                </SfCard>
            </div>
        </div>
        <div class="pies">
            <div class="item pie">
                <SfAccumulationChart Title="ORDERS BY COUNTRIES" EnableBorderOnMouseMove="true" EnableAnimation="true">
                    <AccumulationChartSeriesCollection>
                        <AccumulationChartSeries DataSource="@OrdersByCountries" XName="CountryName" YName="OrdersCount" Name="Orders" Explode="true">
                            <AccumulationDataLabelSettings Name="Text" Visible="true" Position="AccumulationLabelPosition.Outside">
                                <AccumulationChartConnector Length="20px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                            </AccumulationDataLabelSettings>
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>
                </SfAccumulationChart>
            </div>
            <div class="item pie">
                <SfAccumulationChart Title="SALES BY COUNTRIES">
                    <AccumulationChartSeriesCollection>
                        <AccumulationChartSeries DataSource="@SalesByCountries" XName="CountryName" YName="CountrySum" Name="Sales" Explode="true">
                            <AccumulationDataLabelSettings Name="Text" Visible="true" Position="AccumulationLabelPosition.Outside">
                                <AccumulationChartConnector Length="20px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                            </AccumulationDataLabelSettings>
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>
                </SfAccumulationChart>
            </div>
            <div class="item pie">
                <SfAccumulationChart Title="ORDERS BY COUNTRIES" EnableBorderOnMouseMove="true">
                    <AccumulationChartSeriesCollection>
                        <AccumulationChartSeries DataSource="@OrdersByCountries" XName="CountryName" YName="OrdersCount" Explode="true">
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>
                </SfAccumulationChart>
            </div>
        </div>
        <div class="bars">
            @*<div class="item bar">
                    <SfChart Width="100%" Height="200px">
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@salesByCountries" XName="CountryName" YName="CountrySum" ColumnSpacing="0.2" ColumnWidth="0.7" Type="ChartSeriesType.Bar">
                            </ChartSeries>
                        </ChartSeriesCollection>
                    </SfChart>
                </div>
                <div class="item bar">
                    <SfChart Width="100%" Height="200px">
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@salesByCountries" XName="CountryName" YName="CountrySum" ColumnSpacing="0.2" ColumnWidth="0.7" Type="ChartSeriesType.Bar">
                            </ChartSeries>
                        </ChartSeriesCollection>
                    </SfChart>
                </div>*@
        </div>
    </div>
}
<style>
    .image-info {
        max-height: 48px;
        max-width: 48px;
    }

    /*Внутренние классы компонента SfCard*/

    .e-card {
        background-color: transparent;
        border: none;
    }

        .e-card:hover {
            background-color: transparent;
        }


    .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
        font-size: 22px;
    }

    .e-card .e-card-content {
        color: white;
        font-size: 28px;
        text-align: center
    }

    .e-card .e-card-separator {
        background-color: white;
        height: 1px;
    }

    .e-card .e-card-header-caption .e-card-sub-title {
        color: white;
    }
    /*Конец - Внутренние классы компонента SfCard*/

    * {
        box-sizing: border-box;
        margin: 0 !Important;
        /*padding-left:0!important;
                padding-right:0!important;*/
        font-family: sans-serif;
        font-size: 16px;
    }

    .wrapper {
        display: grid;
        padding: 6px;
        margin: 0px;
        grid-gap: 6px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
    }

    .pies {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 6px;
    }

    .bars {
        display: grid;
        grid-gap: 6px;
    }

    .item {
        padding: 6px;
        color: white;
        border-radius: 6px;
        border: 1px solid #b9b8b8;
    }

    .card1 {
        background-color: #ff6a00
    }

    .card2 {
        background-color: #11b637
    }

    .card3 {
        background-color: #1882ad
    }

    .card4 {
        background-color: #ff0000
    }

    .pie {
        color: black;
    }

    .bar {
        height: 140px;
    }

    @@media screen and (min-width: 640px) {
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2px;
        }
    }

    @@media screen and (min-width: 640px) {
        .pies {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2px;
        }
    }

    @@media screen and (min-width: 640px) {
        .bars {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2px;
        }
    }
</style>

@code {

    #region

    public List<OrdersByCountry> OrdersByCountries = new List<OrdersByCountry>();
    public List<SalesByCountry> SalesByCountries = new List<SalesByCountry>();

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
        //await Task.Delay(6000);
#endif

        var ordersByCountriesResponce = await statisticService.GetOrdersByCountriesAsync();

        OrdersByCountries = ordersByCountriesResponce.Data;

        var salesByCountries = await statisticService.GetSalesByCountriesAsync();
        SalesByCountries = salesByCountries.Data;
    }

    #endregion
}
